# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env / Pipenv
Pipfile.lock
.venv/
.env/

# Data
data/raw/
data/processed/
*.pkl
*.pt
*.npy
*.npz

# Results
results/*
!results/README.md

# Jobs logs
jobs/*.out
jobs/*.err
slurm-*.out

# IDE
.vscode/
.idea/

LKH-3.0.9
saved_model
saved_dataset

